* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
.css-18ibvgg-MuiStepLabel-label.MuiStepLabel-alternativeLabel {
    margin-top: 8px !important;
}
